snippet #info "info comment"
	#INFO: $0
	
snippet #todo "todo comment"
	#TODO: $0
	
snippet #hack "hack comment"
	#HACK: $0
	
snippet #warn "warn comment"
	#WARN: $0
	
snippet #perf "perf comment"
	#PERF: $0
	
snippet #note "note comment"
	#NOTE: $0
	
snippet #test "test comment"
	#TEST: $0
	
